@import "tailwindcss";

@layer utilities {
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
}
